<!-- Containers are the basic layout element in Bootstrap and required when using the default grid system. -->
<div class="container">
    <h2>Examples</h2>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
        Menu
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="examples">Drop Down</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="list">Download from S3</a>
        <a class="dropdown-item" href="progress_example">Progress Bar</a>
        <a class="dropdown-item" href="javascript_example">Javascript Example</a>
        <a class="dropdown-item" href="plotly_example">Plotly Example</a>
        <a class="dropdown-item" href="google_example">Google Visualization Example</a>
      </div>
    </div>
</div>
<!-- /container -->
